<fieldset>
  <legend><%= l(:settings_qq) %></legend>
  <p>
    <label><%= l(:settings_validate_code) %></label>
    <%= text_field_tag 'settings[qq_validate_code]', @settings[:qq_validate_code], :size => 60 %>
  </p>
  <p>
    <label><%= l(:settings_app_id) %></label>
    <%= text_field_tag 'settings[qq_app_id]', @settings[:qq_app_id] %>
  </p>
  <p>
    <label><%= l(:settings_app_key) %></label>
    <%= text_field_tag 'settings[qq_app_key]', @settings[:qq_app_key], :size => 50 %>
  </p>
  <p>
    <label><%= l(:settings_redirect_uri) %></label>
    <%= text_field_tag 'settings[qq_redirect_uri]', @settings[:qq_redirect_uri], :size => 60 %>
  </p>
  <p>
    <label><%= l(:settings_redirect_uri2) %></label>
    <%= text_field_tag 'settings[qq_redirect_uri2]', @settings[:qq_redirect_uri2], :size => 60 %>
  </p>
  <p>
    <label><%= l(:settings_redirect_uri3) %></label>
    <%= text_field_tag 'settings[qq_redirect_uri3]', @settings[:qq_redirect_uri3], :size => 60 %>
  </p>
  <p>
    <label><%= l(:settings_auth_prefix) %></label>
    <%= text_field_tag 'settings[qq_auth_prefix]', @settings[:qq_auth_prefix], :size => 60 %>
  </p>
  <p>
    <label><%= l(:settings_mm_app_id) %></label>
    <%= text_field_tag 'settings[mm_app_id]', @settings[:mm_app_id] %>
  </p>
  <p>
    <label><%= l(:settings_mm_app_secret) %></label>
    <%= text_field_tag 'settings[mm_app_secret]', @settings[:mm_app_secret], :size => 50 %>
  </p>
  <p>
    <label><%= l(:settings_mm_redirect_uri) %></label>
    <%= text_field_tag 'settings[mm_redirect_uri]', @settings[:mm_redirect_uri], :size => 60 %>
  </p>
  <p>
    <label><%= l(:settings_mm_auth_prefix) %></label>
    <%= text_field_tag 'settings[mm_auth_prefix]', @settings[:mm_auth_prefix], :size => 60 %>
  </p>
  <p>
    <label><%= l(:settings_mm_auth_tail) %></label>
    <%= text_field_tag 'settings[mm_auth_tail]', @settings[:mm_auth_tail], :size => 60 %>
  </p>
  <p>
    <label><%= l(:settings_mm_token_prefix) %></label>
    <%= text_field_tag 'settings[mm_token_prefix]', @settings[:mm_token_prefix], :size => 60 %>
  </p>
</fieldset>
