<%= call_hook :view_account_login_top %>
<div id="login-form">
<%= form_tag(signin_path, onsubmit: 'return keepAnchorOnSignIn(this);') do %>
<%= back_url_hidden_field_tag %>
<table>
<tr>
    <td style="text-align:right;"><label for="username"><%=l(:field_login)%>:</label></td>
    <td style="text-align:left;"><%= text_field_tag 'username', params[:username], :tabindex => '1' %></td>
</tr>
<tr>
    <td style="text-align:right;"><label for="password"><%=l(:field_password)%>:</label></td>
    <td style="text-align:left;"><%= password_field_tag 'password', nil, :tabindex => '2' %></td>
</tr>
<% if Setting.openid? %>
<tr>
  <td style="text-align:right;"><label for="openid_url"><%=l(:field_identity_url)%></label></td>
  <td style="text-align:left;"><%= text_field_tag "openid_url", nil, :tabindex => '3' %></td>
</tr>
<% end %>
<tr>
    <td></td>
    <td style="text-align:left;">
        <% if Setting.autologin? %>
        <label for="autologin"><%= check_box_tag 'autologin', 1, false, :tabindex => 4 %> <%= l(:label_stay_logged_in) %></label>
        <% end %>
    </td>
</tr>
<tr>
    <td style="text-align:left;">
        <% if Setting.lost_password? %>
            <%= link_to l(:label_password_lost), lost_password_path %>
        <% end %>
    </td>

    <td style="text-align:right;">
        <input type="submit" name="login" value="<%=l(:button_login)%> &#187;" tabindex="5"/>
    </td>
    
    <td>
        <%= link_to image_tag("qq_login.png", alt: l(:connectlogo), :plugin => "qqs", :title => l(:connectwelcome)), qqlogincode_path %> 
        <%= link_to image_tag("mm_login.png", alt: l(:mmconnectlogo), :plugin => "qqs", :title => l(:mmconnectwelcome)), mmlogincode_path %> 
    </td>
</tr>
</table>

<% end %>
</p>

</div>
<%= call_hook :view_account_login_bottom %>

<% if params[:username].present? %>
<%= javascript_tag "$('#password').focus();" %>
<% else %>
<%= javascript_tag "$('#username').focus();" %>
<% end %>

<% content_for :header_tags do %>
<% end %>