<h2><%=l(:label_register)%> <%=link_to l(:label_login_with_open_id_option), signin_url if Setting.openid? %></h2>

<%= labelled_form_for @user, :url => register_path do |f| %>
<%= error_messages_for 'user' %>

<div class="box tabular">
<% if @user.auth_source_id.nil? %>
  <% if qq_logged_in? %>
    <p><%= f.text_field :login, :value => session[:qq_nickname], :size => 25, :required => true %></p>
  <% else %>
    <% if mm_logged_in? %>
      <p><%= f.text_field :login, :value => session[:mm_nickname], :size => 25, :required => true %></p>
    <% else %> 
      <p><%= f.text_field :login, :size => 25, :required => true %></p>
    <% end %>      
  <% end %>

  <p><%= f.password_field :password, :size => 25, :required => true %>
  <em class="info"><%= l(:text_caracters_minimum, :count => Setting.password_min_length) %></em></p>

  <p><%= f.password_field :password_confirmation, :size => 25, :required => true %></p>
<% end %>

<p><%= f.text_field :firstname, :required => true %></p>
<p><%= f.text_field :lastname, :required => true %></p>
<p><%= f.text_field :mail, :required => true %></p>

<% unless @user.force_default_language? %>
<p><%= f.select :language, lang_options_for_select %></p>
<% end %>

<% if Setting.openid? %>
  <p><%= f.text_field :identity_url  %></p>
<% end %>

<% @user.custom_field_values.select {|v| v.editable? || v.required?}.each do |value| %>
  <p><%= custom_field_tag_with_label :user, value %></p>
<% end %>
</div>

<%= submit_tag l(:button_submit) %>
<% end %>
